
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main-layout.cshtml";
}

<div>
    <h2>Index</h2>
</div>
<div>
    <ul>
        <li>
            <a href="@Url.Action("Create", "User")">Create</a>
        </li>
        <li>
            <a href="@Url.Action("List", "User")">List</a>
        </li>
    </ul>
</div>
