<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="~/Styles/Main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="container-fluid">
    <header>
        @Html.Action("Index", "Header")
    </header>
    <main class="row">
        <article class="col-md-12">
            @RenderBody()
        </article>
    </main>
</body>
</html>